{% extends 'base.html' %}
{% block content %}
          <!-- Main Content -->
      <!--Home Page-->
      <div class="container-inline">
        <section id="welcomePage">
          <div id="welcome-message">
            <h1>Welcome to</h1>
            <h1>My Music App!</h1>
          </div>
          <div class="music-img">
            <img src="/static/images/musicIcons.webp" alt="music-icon" />
          </div>
        </section>

        <!-- Registration -->
        <section id="registerPage">
            <form action="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Profile</legend>
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    {{ form.username }}
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                    <label for="{{ form.age.id_for_label }}">Age</label>
                    {{ form.age }}
                    <button type="submit" class="register">Enter</button>
                </fieldset>
                
            </form>
        </section>
      </div>
{% endblock %}