{% extends 'base.html' %}

{% block content %}
<main>
        <!-- Add Post Form -->
        <section id="create">
            <div class="form">
                <h2>New Post</h2>

                <form class="create-form" action="" method="POST">
                    {% csrf_token %}
                    {% for current_form in form %}
                        {{ current_form.errors }}
                        {{ current_form.label_tag }}
                        <div class="helptext" id="id_passcode_helptext">{{ current_form.help_text }}</div>
                        {{ current_form }}
                    {% endfor %}

                    <!-- form button -->
                    <button type="submit">Publish</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}